html {
  height: 100%;
}
body {
  margin: 0;
  padding: 10px;
  height: calc(100% - 20px);
  background-color: #f4f4f8;
  color: #222;
  font-family: 'Segoe UI', sans-serif;
}
#unsupported-message {
  display: none;
  border: 1px solid #c00;
  padding: 2em;
  max-width: 600px;
  margin: 5em auto;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.piano {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px 0;
}
.octave {
  position: relative;
  @media (orientation: landscape) {
    width: 15vw;
    min-width: 190px;
    max-width: 230px;
    height: 30vh;
    min-height: 130px;
    max-height: 170px;
  }
  @media (orientation: portrait) {
    width: 15vw;
    min-width: 150px;
    max-width: 230px;
    height: 13vh;
    min-height: 80px;
    max-height: 170px;
  }
}
.white {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
}
.black {
  position: absolute;
  height: 100%;
  width: 100%;
  left: -5%;
  display: flex;
  gap: 3.5%;
}
.white-key {
  width: calc(100% / 7);
  height: 100%;
  background: linear-gradient(to bottom, #fff, #e0e0e0);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  border: 1px solid black;
  box-sizing: border-box;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.black-key {
  width: calc(75% / 7);
  height: 66%;
  background: linear-gradient(to bottom, #222, #000);
  z-index: 1;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.invisible-key {
  width: calc(75% / 7);
  height: 66%;
}
.text {
  text-align: left;
  height: 7rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: rgb(0, 0, 170);
  border-radius: 12px;
  padding: 12px 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  p {
    margin: 0;
    span {
      white-space-collapse: preserve;
    }
  }
}
@font-face {
  font-family: 'Cascadia Mono';
  src: url('CascadiaMono.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
.monospace {
  font-family: "Cascadia Mono", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
.control {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  background: white;
  border-radius: 12px;
  padding: 12px 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
#fileSelect {
  padding: 5px 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  background: white;
  font-size: 1em;
}
input[type="file"] {
  display: none;
}
.customOpenFile {
  padding: 5px 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  background: white;
  font-size: 1em;
  cursor: pointer;
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.clearButton {
  padding: 5px 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  background: white;
  font-size: 1em;
  cursor: pointer;
}
/* https://css-tricks.com/making-pure-css-playpause-button/ */
.playPauseButton {
  border: 0;
  background: transparent;
  box-sizing: border-box;
  width: 0;
  height: 20px;
  vertical-align: middle;
  border-color: transparent transparent transparent #202020;
  transition: 100ms all ease;
  cursor: pointer;

  /* play state */
  border-style: solid;
  border-width: 10px 0 10px 16px;

  &.paused {
    border-style: double;
    border-width: 0px 0 0px 16px;
  }

  &:hover {
    border-color: transparent transparent transparent #404040;
  }

  &:disabled {
    border-color: transparent transparent transparent #808080;
  }
}
.slider {
  vertical-align: middle;
}
